<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedbacks.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% for row in result %}
        <div class="feedback">
            <h1><mark>Employee:</mark> {{ row[1] }}</h1>
            <h1><mark>Rate:</mark> {{ row[2] }}</h1>
            <h1><mark>Service:</mark> {{ row[3] }}</h1>
            <h1><mark>Phone:</mark> {{ row[4] }}</h1>
            <h1><mark>Comment:</mark> {{ row[5] }}</h1>
            <h1><mark>Alias:</mark> {{ row[6] }}</h1>
            <h1><mark>Date:</mark> {{ row[7] }}</h1>
        </div>
        {% endfor %}
    </div>
</body>
</html>